body{
    background: rgb(216, 216, 216);
}
header{
    background: rgb(254, 255, 240);
}
ul.menu{
    display: inline;
}
ul.submenu{
    display: inline;
    visibility: hidden;
}
ul.menu:hover + .ul.submenu{
    visibility: visible;
    opacity: 1;
}
li{
    display: inline;
}